@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
#tech {
  background: #303030;
  background-image:url(https://fondosmil.com/fondo/52705.jpg);
  background-blend-mode: multiply;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
